<main>


  <header
    class="sticky top-0 z-50 w-full border-b border-border/40 bg-background/95 backdrop-blur supports-[backdrop-filter]:bg-background/60">
    <div class="container h-14 flex justify-between items-center">
      <a routerLink="/" class="text-xl">{{ title }}</a>
    </div>
  </header>

  <div class="p-4 sm:p-8 md:p-16 min-h-[calc(100vh-132px)]">
    <router-outlet />
  </div>

  <footer class="container mt-20 flex h-14 flex-col-reverse items-center justify-between md:flex-row">
    <p class="text-balance text-center text-xs leading-loose text-muted-foreground md:text-left md:text-sm">
      © 2024 Masagus Hariadi Arief.
    </p>

    <div class="flex gap-x-2 ">
      <a href="{{links.twitter}}" target="_blank" rel="noreferrer">
        <ng-icon name="bootstrapTwitterX" />
      </a>

      <a href="{{links.github}}" target="_blank" rel="noreferrer">
        <ng-icon name="bootstrapGithub" />
      </a>
      <a href="{{links.linkedin}}" target="_blank" rel="noreferrer">
        <ng-icon name="bootstrapLinkedin" />
      </a>
    </div>
  </footer>
</main>